<div id="deckDesc" class="pure-u-1">
        <div class="leftDeck">
        <h3>{{name}}</h3>
        <h4>{{description}}</h4>
    </div>
    <div class="rightDeck">
       <button id="editBtn-{{id}}">Edit</button>
       <button id="deleteBtn-{{id}}">Delete</button>
    </div>
    </div>
</div>