  <div id="deckDesc" class="pure-u-1">
        <div class="leftDeck">
         <!-- May need to change the variable -->
        <h3>{{deck.name}}</h3>
        <h4>{{deck.description}}</h4>
    </div>
    <div class="rightDeck">
        <!--May need to be restyled added a a tag -->
       <button id="deleteBtn"><a href='/updatedeck'>Edit</a></button>
       <button id="editBtn">Delete</button>
    </div>
    </div>