<div id="deckDesc" class="pure-u-1">
        <div class="leftDeck">

         <!-- Working -->

        <h3>{{name}}</h3>
        <h4>{{description}}</h4>
    </div>
    <div class="rightDeck">
      <button id="reviewBtn" onclick="window.location = '/review/{{id}}'">Review</button>
       <button id="deleteBtn" onclick="window.location = '/updateDeck/{{id}}'">Edit</button>
    </div>
    </div>
</div>