<div class="pure-g updatePartial">
<div class="pure-u-1">
    <form>
    <label for="front">Term: </label>
    <input type="text" id="front" name="front" value="{{card.front}}">
    <label for="back">Definition: </label>
    <input type="text" id="back" name="back" value="{{card.back}}">
    <button id="delCard">Delete</button>
    </form>
</div>
</div>