<div class="pure-g updatePartial">
    <div class="pure-u-1">
    <form>
    <label for="front">Term: </label>
    <!--For these the information isn't coming through properly -->
    <input type="text" id="front" name="front" placeholder="{{card.front}}">
    <label for="back">Definition: </label>
    <input type="text" id="back" name="back" placeholder="{{card.back}}">
    <button>Delete</button>
    </form>
    </div>
</div>
