<div class="pure-g updatePartial">
    <div class="pure-u-1">
    <form>
    <label for="front">Term: </label>
    <input type="text" id="front" name="front" value="{{deck.front}}">
    <label for="back">Definition: </label>
    <input type="text" id="back" name="back" value="{{deck.back}}">
    <button>Delete</button>
    </form>
    </div>
</div>