<!--Top / Title and Description -->
<div class="pure-g">
    <div id="topInput" class="pure-u-1">
        <h1>Create a new deck</h1>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"> 
        <label for="description">Description: </label>
        <textarea id="description" name="description" row="4" cols="40"></textarea>
    </div>
</div>
<!-- The cards imported dynamically-->
<section id="cue-card-container">

</section>
<!--Buttons on the bottom -->
<div class="pure-g">
    <div id="bottomButtons"  class="pure-u-1">
<button id="add-cue-card">Another Card</button>
<button id="create">Create Deck</button>
     </div>
</div>
<script src="/js/new-card.js"></script>
