<div id="dashboardCont" class="pure-g">
  <!--Welcome part -->
  <div id="welcomeDiv" class="pure-u-1-3">
    <h2> Welcome {{userData.name}}</h2>
    <div id="todayDeck">
      <h3>Today's Deck:</h3>
      
      <button class="alldeckbutton" id="todaysDeck"><a href="/review/all">Review all Cards</a></button>
    </div>
  </div>
  <!-- Loads each deck from the user from a partial -->
  <div id="decksDiv" class="pure-u-2-3">
    {{#each userData.decks as |deck|}}
    {{>dashboardDeckCard}}
    {{/each}}

    <button id="createDeck"><a href="/create">Create Deck</a></button>
  </div>
</div>



