<div id="dashboardCont" class="pure-g">
    <!--Welcome part -->
    <div id="welcomeDiv" class=" pure-u-1-3">
        <!--Add the username --> 
    <h2> Welcome {{name}}!</h2>
    <div id="todayDeck">
    <h2>Today's Deck:</h2>
    <button id="todaysDeck">Start</button>
    </div>
</div>

<!-- Loads each deck from the user from a partial -->
<div id="decksDiv" class="pure-u-2-3">
    {{#each deckData.decks as |deck|}}
      <div id="deckDesc" class="pure-u-1">
        <div class="leftDeck">
         <!-- Working -->
        <h3>{{deck.name}}</h3>
        <h4>{{deck.description}}</h4>
    </div>
    <div class="rightDeck">
      <button id="reviewBtn"><a href="/review">Review</a></button>
       <button id="editBtn"><a href='/updateDeck/{{id}}'>Edit</a></button>
    </div>
    </div>
    {{/each}}
      <button id="createDeck"><a href="/decks/new">Create Deck</a></button>
</div>
</div>

