<section id="deckCont">

<!--Each part -->
  <div id="deckDesc" class="pure-u-1">
        <div class="leftDeck">
        <h3>Title</h3>
        <h4>Description</h4>
    </div>
    <div class="rightDeck">
       <button id="deleteBtn">Edit</button>
       <button id="editBtn">Delete</button>
    </div>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-1">
        <button>Create a deck</button>
    </div>

</section>

















  

    
   


   


  {{#each ___ as |deck|}}
   {{> singledeck}}
   {{/each}}