<section class='error-card-container'>
  <div class='pure-g mainCont error-card'>
    <div class='pure-u-1-2 mainPhoto error-card-photo'>
      <img
        src='https://images.unsplash.com/photo-1573019606806-9695d0a9739d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80'
      />
    </div>
    <div class='pure-u-1-2 mainP error-card-text'>
      <h2 class='middleP'>{{error}}</h2>
      <br />
      <p><a href='/'>Go Home</a></p>
    </div>
  </div>
</section>