<div class="pure-g">
    <div id='finishDiv' class="pure-u-1">
        <h1 class="animate__animated animate__tada">Congrats!</h1>
        <p>You've completed your deck!</p>
       <a href="/dashboard"><h4>Go back to your decks</h4></a>
    </div>
</div>