<h2>This is the homepage.</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nulla
  neque consequatur. Id, dicta quidem! Voluptatum, recusandae commodi? Error
  laudantium consequatur debitis. Iste odit cupiditate accusamus, necessitatibus
  dolorem nobis? Repellendus.</p>