<div class='pure-g'>
  <div id="mainContent" class='pure-u-1'>
    <div id="titleDiv">
    <h2>Welcome to Card Wise!</h2>
    <p>Your new way to study wise</p>
      </div>
  </div>
</div>
<!--3 pictures on the bottom -->
<div class='pure-g mainCont'>
  <div class='pure-u-1-2 mainPhoto'>
    <img src="/photos/alex-_ZfLlKxilpw-unsplash.jpg" alt="3 layered paper">
  </div>
  <div class='pure-u-1-2 mainP'>
   <p>Study smarter, not harder! Maximize your productivity and stay on top of your studies by harnessing the power of spaced repetition and interactive cue-cards, all in one convenient platform.</p>
    </div>
</div>

<div class='pure-g mainCont middle'>
  <div class='pure-u-1-2 mainP'>
    <p class="middleP">Unlock your learning potential and Master any subject with ease using our scientifically proven spaced repetition technique, tailored to your needs.</p>
  </div>
  <div class='pure-u-1-2 mainPhoto'>
    <img src="/photos/iewek-gnos-hhUx08PuYpc-unsplash.jpg" alt="Study stt up ">
    </div>
</div>

<div class='pure-g mainCont'>
  <div class='pure-u-1-2 mainPhoto'>
   <img src="/photos/arturo-esparza-Jvm-3D52-Fc-unsplash.jpg" alt="Yellow desk with a keyboard and piece of paper">
  </div>
  <div class='pure-u-1-2 mainP'>
    <p>Supercharge your learning with our spaced repetition app! Effortlessly memorize information, boost retention and ace exams with our interactive cue-card system.</p>
    </div>
</div>

