<div class='pure-g'>
  <div id="mainContent" class='pure-u-1'>
    <div id="titleDiv">
    <h2>Welcome to Card Wise!</h2>
    <p>Your new way to study wise</p>
      </div>
  </div>
</div>
<!--3 pictures on the bottom -->
<div class='pure-g mainCont'>
  <div class='pure-u-1-2 mainPhoto'>
    <img src="/photos/alex-_ZfLlKxilpw-unsplash.jpg">
  </div>
  <div class='pure-u-1-2 mainP'>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat molestias, officia repudiandae, blanditiis optio amet iusto tempora repellendus debitis nihil esse veritatis voluptate ea quidem porro aliquid, at fugiat alias.</p>
    </div>
</div>

<div class='pure-g mainCont'>
  <div class='pure-u-1-2 mainP'>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, quaerat iste! Placeat assumenda veniam, temporibus nulla consectetur voluptatibus unde tempora. Sunt facere saepe labore vel, laborum deleniti nemo tempora nihil.</p>
  </div>
  <div class='pure-u-1-2 mainPhoto'>
    <img src="/photos/iewek-gnos-hhUx08PuYpc-unsplash.jpg">
    </div>
</div>

<div class='pure-g mainCont'>
  <div class='pure-u-1-2 mainPhoto'>
   <img src="/photos/arturo-esparza-Jvm-3D52-Fc-unsplash.jpg">
  </div>
  <div class='pure-u-1-2 mainP'>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur obcaecati amet id voluptatem magnam veritatis assumenda nihil sapiente ipsa fugiat quis labore molestias ut reiciendis nulla eos, debitis aperiam deleniti!</p>
    </div>
</div>

