

    <div id="credsDiv" class="pure-g">
<!--Login Form -->
    <div id="loginDiv"class="pure-u-1 pure-u-md-1-2">
        <h2>Login</h2>
        <form id="loginForm">
  <label for="username-login">Email:</label>
  <input type="text" id="username-login" name="username-login">
  <label for="email-login">Password:</label>
  <input type="text" id="email-login" name="email-login">
   <button id="loginBtn">Login!</button>
   </form>
  </div>
 <!-- Sign up Form -->
    <div id="signupDiv" class="pure-u-1 pure-u-md-1-2">
        <h2>Sign Up</h2>
<form id="signupForm">
  <label for="username-signup">Email:</label>
  <input type="text" id="username-signup" name="username-signup">
  <label for="email-signup">Password:</label>
  <input type="text" id="email-signup" name="email-signup">
   <button id="signupBtn">Sign Up!</button>
</form>

    </div>

<script src="/js/login.js"></script>

