

    <div id="credsDiv" class="pure-g">

    <div id="loginDiv"class="pure-u-1 pure-u-md-1-2">
        <h2>Login</h2>
        <form id="loginForm">
  <label for="username-login">Username:</label>
  <input type="text" id="username-login" name="username-login">
  <label for="email-login">Email:</label>
  <input type="text" id="email-login" name="email-login">
 
</form>
 <button id="loginBtn">Login!</button>
        </div>

    <div id="signupDiv" class="pure-u-1 pure-u-md-1-2">
        <h2>Sign Up</h2>
<form id="signupForm">
  <label for="username-signup">Username:</label>
  <input type="text" id="username-signup" name="username-signup">
  <label for="email-signup">Email:</label>
  <input type="text" id="email-signup" name="email-signup">
</form>
 <button id="signupBtn">Sign Up!</button>
    </div>


