<div class='pure-g'>
  <div id='flashCard' class='pure-u-1'>
    <div id='frontSide'>
      <h1>
        {{!-- Dynamically Render Content --}}
      </h1>
    </div>
    <div id='backSide' style='display: none;'>
      <h1>
        {{!-- Dynamically Render Content --}}
      </h1>
    </div>
  </div>
</div>

<div id='flashCardBtnsDiv' class='pure-g'>
  <div id='flashCardBtn' class='pure-u-1-2'>
    <button id='answerBtn'>Answer</button>
    <div id='radioCont'>

      <!--One to five radio buttons -->
      <!--These values will probably need to be changed depending on how supermemo works -->
      <input type='radio' id='one' name='supermemo' value='one' />
      <label for='one'>1</label>

      <input type='radio' id='two' name='supermemo' value='two' />
      <label for='two'>2</label>

      <input type='radio' id='three' name='supermemo' value='three' />
      <label for='three'>3</label>

      <input type='radio' id='four' name='supermemo' value='four' />
      <label for='four'>4</label>

      <input type='radio' id='five' name='supermemo' value='five' />
      <label for='five'>5</label>

    </div>
    <button id='nextBtn'>Next</button>
  </div>

</div>

{{!-- Div to indicate that the page has been loaded --}}
<div id="review-page-marker"></div>


<script>
  const cardsUpForReview = JSON.parse('{{{cardsUpForReview}}}');
</script>
