<div class="pure-g">
    <div class="pure-u-1">
       <h2>Update your cards</h2>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1">
       <form>
    <label for="title">Tile: </label>
    <input type="text" id="title" name="title" value="{{deck.name}}">
     <label for="description">Description: </label>
    <input type="text" id="description" name="description" value="{{deck.description}}">
       </form>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1">
       {{#each deckData as |deck|}}
       {{> updatepartial}}
       {{/each}}
    </div>
    <button id="updateDeck">Update Deck</button>
    
</div>

<script src="/js/update.js"></script>