
<div id="updateDiv" class="pure-g">
    <div class="pure-u-1">
       <h2>Update your cards</h2>
       <form>
    <label for="title">Tile: </label>
    <input type="text" id="title" name="title" value="{{deckData.name}}">
     <label for="description">Description: </label>
    <input type="text" id="description" name="description" value="{{deckData.description}}">
    <label for="cardsADay">Cards each day:</label>
    <input type="number" id="cardsADay" name="cardsADay" value="{{deckData.new_cards_per_day}}">
       </form>
    </div>
</div>
<div id="updateCardsDiv" class="pure-g">
    <div class="pure-u-1">
       {{#each deckData as |deck|}}
       {{> updatepartial}}
       {{/each}}
    </div>
    <div id="updateBtnDiv" class="pure-u-1">
     <button id="editBtn">Delete</button>
    <button id="updateDeck">Update Deck</button>
    </div>
</div>

<script src="/js/update.js"></script>