@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root{
    --black: #4D3E3E;
    --grey: #a09f9f;
    --darkGrey: #484747;
    --white: #f8f8f8;
    --superWhite: #ffffff;
    --blue: #87BED6;
    --lightBlue: #9ecee4;
    --borderBox: 15px;
    --borderButton: 35px;
    --headerSize: 1.8em;
    --mainSize: 1.1em;
    --smallSize: 0.8em;
    --fontFamily: 'Comfortaa', cursive;
    --boxShadow: 5px 10px 18px var(--grey);
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: var(--fontFamily);
    font-size: var(--mainSize);
    color: var(--black);
    background-color: var(--white);
}
button{
    padding: 1em 1.5em;
    background-color: var(--lightBlue);
    border: none;
    border-radius: var(--borderButton);
    width: 150px;
}
/* Header/Nav */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--blue);
    color: var(--white);
    padding-left: 1em;
}
nav{
    margin: 1em;
}
nav a {
    text-decoration: none;
    padding: 1em;
    color: var(--white);
}
nav a:hover{
    color: var(--black);
}
nav button{
    padding: 1em 1.5em;
    background-color: var(--lightBlue);
    border: none;
    border-radius: var(--borderButton);
}
/* Main Page */
main{
    text-align: center;
}
main h2{
    font-size: var(--headerSize);
    padding-bottom: 1em;  
}
/* Login / SignUp Forms */
#credsDiv {
    display: flex;
    flex-direction: row;
    padding: 2em;
    flex-wrap: nowrap;
    gap: 2em;
    margin-block: 2em;
}
#loginDiv, #signupDiv{
    border: 0.1px solid var(--grey);
    border-radius: var(--borderBox); 
    padding: 1em;
    box-shadow:var(--boxShadow);
}
#loginForm, #signupForm{
    display: flex;
    flex-direction: column;    
}
#loginForm label, #signupForm label{
    text-align: left;
    padding-left: 0.8em;
}
#loginForm input, #signupForm input{
    border-radius: var(--borderBox);
    border: 1px solid var(--lightBlue);
    padding: 1em;
    margin: 0.5em;
    margin-bottom: 1em;
}

/* Decks Homepage */
#deckCont{
    margin: 1em;
}
#deckDesc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid var(--lightBlue);
    border-radius: var(--borderRadius);
    margin: 1em;
    padding: 1em;
    width: 55%;
    height: 40%;
    text-align: left;
}
.leftDeck h3{
    padding-block: 0.2em;
}
#welcomeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--lightBlue);
    border-radius: var(--borderRadius);
    width: 35%;
    padding: 1em;
    margin: 1em;
   
}
#welcomeDiv h2{
    font-size: 1em;
}
/* Create a deck */
#topInput{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    align-items: center;
}
#topInput textarea{
    border-radius: var(--borderRadius);
    margin-bottom: 1em;
}
#topInput input{
    padding: 0.5em;
    margin: 0.5em;
    border-radius: var(--borderRadius);
    border: 1px solid var(--grey);
}
#single{
    margin: 1em;
    padding: 2em;
    border-radius: var(--borderRadius);
    border: 1px solid var(--grey);
}
#single input{
    border-radius: var(--borderRadius);
    border: 2px solid var(--lightBlue);
    padding: 0.5em;
}
#bottomButtons{
  display: flex;
 justify-content: space-between;
 margin: 2em;
}

/* Deck Single Card */



/* Media screens */
@media only screen and (max-width: 750px) {
    nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    #credsDiv{
     flex-wrap: wrap;
    }
   }